.courseCard {
    border: 1px solid lightseagreen;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between
}
.report {
    width: 68%;
}

.report dd {
    margin-inline-start: 0;
}
.specification {
    width: 30%;
}

.specification dl {
    display: grid;
    grid-template-columns: max-content auto;
}

.specification dt {
    grid-column-start: 1;
}

.specification dd {
    margin-inline-start: -90px;
    grid-column-start: 2 ;
    grid-column-end: 3;
}
.courseCard button {
    margin-left: 30%;
}

.authors {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
