.searchBar {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.searchBar button {
    margin-top: 8px;
}
.searchInput {
    width: 330px;
    height: 22px;
    border: 1px solid sandybrown;
}
.searchButton {
    width: 85px;
    height: 22px;
    margin: 10px;
    border: 1px solid palevioletred;
    background-color: white;
}
