.searchBar {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 10px;
}

.searchBar input {
    width: 230px;
    height: 22px;
    border: 1px solid sandybrown;
}

.searchBar button {
    margin-left: 10px;
}