/*reusable component style*/
 button {
  min-width: 110px;
  min-height: 25px;
  border: 1px solid palevioletred;
  background-color: white;
}
* ul {
  list-style-type: none;
}

/*header styles*/

.header {
  margin: 10px 10px 0 10px;
  border: 1px solid pink;
  display: flex;
  justify-content: space-between;
}

.header button {
  margin: 30px 10px;
}

.logo img {
  height: 80px;
  width: 200px;
}

.logo {
  display: inline;
}

/*course Cards style*/
.courseCard {
  border: 1px solid lightseagreen;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.report {
  width: 70%;
}
.specification {
  width: 30%;
}
.courseCard button {
  margin-left: 30%;
}

.courseCard .authors {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*SearchBar styles*/

.searchBar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.searchBar button {
  margin-top: 8px;
}
.searchInput {
  width: 330px;
  height: 22px;
  border: 1px solid sandybrown;
}
.searchButton {
  width: 85px;
  height: 22px;
  margin: 10px;
  border: 1px solid palevioletred;
  background-color: white;
}

/*Courses full component styles*/

.courses {
  margin: 0 10px 10px 10px;
  border: 1px solid lightseagreen;
}
.courses ul {
  padding: 0;
}
/*createCourse style*/

.inputTxtCC {
  display: flex;
  flex-direction: column;
}
.createCourseForm {
  border: 1px solid lightseagreen;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.createCourseHeader {
  min-width: 100%;
  margin: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.titleButton {
  margin: 10px 10px 0 10px;
}

.descriptionCC {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
}

.textareaCC {
  border: 1px solid gold;
}

.specificationCC {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px;
}

.durationAndAuthorCC {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.durationAndAuthorCC button {
  width: 100px;
  margin: 20px;
}

.authorsListCC {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.authorsListCC li {
  display: flex;
  justify-content: space-between;
}